/**
 * Module dependencies
 */

@require './variables'

$hero--header
  position relative
  color hero--header-color
  font-weight hero--header-font-weight
  font-size hero--header-font-size
  letter-spacing hero--header-letter-spacing

$hero--subheader
  position relative
  font-size hero--subheader-font-size
  color hero--subheader-color
  letter-spacing hero--subheader-letter-spacing
