/**
 * Module dependencies
 */

@require 'shoelace-ui-font-size'
@require 'shoelace-ui-headings'

hero--color                 ?= white

hero--header-font-weight    ?= 100
hero--header-font-size      ?= font-size--xl
hero--header-color          ?= hero--color
hero--header-letter-spacing ?= 1px

hero--subheader-font-weight    ?= 400
hero--subheader-font-size      ?= headings--font-size-h5
hero--subheader-color          ?= hero--color
hero--subheader-letter-spacing ?= 3px
